<h1 class="text-center mt-4">Edit category name</h1>

<div class="container">
  <div class="row row justify-content-md-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
    <div class="row row justify-content-md-center">
      <div class="col-10 mb-3">
        <%= link_to '[ Cancel and return to category ]', @category, class: "text-success"%> 
      </div>
    </div>
  </div>
</div>